// [THIS APP'S NAME] ONLY Custom Global Styles
// -------------------------------

main.grid-container-fluid,
.panel-container {

  @include breakpoint(small only) {
    min-height: 100vh;
  }
}

.menu .active a,
a.menu.active {
	font-style: italic;
}

code {
	border-radius: $code-border-radius;
}

// Highlight.js Code Formatting
.tabs-content code {
	padding: 1rem !important;
}
