<footer>
  <div class="grid-container-fluid">
    <div class="grid-x grid-padding-x">
      <div class="small-12 cell">
        <p>Copyright &copy; {{ copyrightYear | date:'yyyy' }} Nate Thompson. All rights reserved. </p>
        
        <p>ngx-foundation is a fork of <a href="https://valor-software.com/ngx-bootstrap" target="_blank">ngx-bootstrap</a> by the ng-team at <a href="https://github.com/valor-software" target="_blank">Valor Software</a>.<br>
        Thank you to the great folks at ZURB for the use of the Yeti and to Dmitriy at Valor. </p> 
        
        <p>Design and content of the API site is inspired by and based off of the framework <a href="https://foundation.zurb.com/" target="_blank">Foundation for Sites by ZURB</a>.</p>
      </div>
    </div>
  </div>
</footer>