<div class="grid-x grid-margin-x">
  <div class="small-12 text-center hero cell">
    <img src="./assets/img/yeti_ngx_foundation.svg" class="hero-logo">
    <h1>
      ngx-foundation
    </h1>
    <h2>An Angular Component Library <br>for Foundation for Sites.</h2>
    <p>Requires Angular 6 or 7 and Foundation 6.4 or later. <br>A fork of the awesome <a href="https://valor-software.com/ngx-bootstrap" target="_blank">ngx-bootstrap</a> by Valor Software.</p> 
    <div class="btn-cont">
      <a class="button primary large" routerLink="/getting-started">Get Started</a>
      <a href="https://github.com/nthompson777/ngx-foundation" target="_blank" class="button secondary hollow large">Github</a>
    </div>
    <p><br>Current Version: 1.0.6</p>
  </div><!-- /cell -->
</div><!-- /grid -->
  
<section class="promo">
  <div class="grid-x grid-margin-x">
    <div class="medium-6 large-4 large-offset-1 cell">
      <fa-icon [icon]="faCode" size="3x" class="color"></fa-icon>
      <h5>Less Code Less Work</h5>
      <p>Simplified code with <a routerLink="/getting-started">clear examples and a starter project</a> to get your components up and running in no time with little effort. Only import the components and styles that your project needs to keep it lightweight.</p>
    </div><!-- /cell -->

    <div class="medium-6 large-4 large-offset-2 cell">
      <fa-icon [icon]="faAngular" size="3x" class="color"></fa-icon>
      <h5>No jQuery or Additional Libraries</h5>
      <p>No need to import jQuery or additional external libraries that can add weight to your application. ngx-foundation utilizes the power of Angular and the speed of Foundation to make your app fast.</p>
    </div><!-- /cell -->

    <div class="medium-6 large-4 large-offset-1 cell">
      <fa-icon [icon]="faLaptopCode" size="3x" class="color"></fa-icon>
      <h5>Flexible Code and Styling</h5>
      <p>Implement your own templates and use your own custom Foundation styles. ngx-foundation was made with flexibility in mind with a minimal amount of added selectors.</p>
    </div><!-- /cell -->

    <div class="medium-6 large-4 large-offset-2 cell">
      <fa-icon [icon]="faTabletAlt" size="3x" class="color"></fa-icon>
      <h5>Responsive and Mobile-Ready</h5>
      <p>You can expect ngx-foundation to perform with speed and efficiency whether you're on a desktop or mobile device. ngx-foundation uses ZURB's Foundation for Sites which is the most advanced responsive front-end framework in the world.</p>
    </div><!-- /cell -->
  </div><!-- /grid -->
</section>